.movies-list-container {
    .filter-container {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .movies-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .movie {
            padding: 10px;

            img {
                width: 200px;
                height: 300px;
            }
        }
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .content {
        display: flex;
        justify-content: center;
        margin-top: 10%;

        span {
            font-size: 24px;
            font-weight: 600;
        }
    }
}
