.header-container {
    background-color: var(--third-color);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;

        .header-movie-add-btn {
            width: auto;
            min-width: 70px;
            background-color: var(--second-color);
        }
    }
}
